footer{
    color: white;
    font-size: 16px;
    hr{
        color: $text;
    }
    .footer-container{
        margin: 50px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .coluna{
            margin: 20px;
            min-width: 300px;
            .title{
                font-size: 20px;
                font-weight: 600;
                color: black;
                padding-top: 30px;
                display:inline-block;
            }
            a{
                display: block;
                margin: 20px 0;
                &:hover{
                    transition: 0.5s;
                    color: $primary;
                }
            }
            .btn{
                text-align: center;
                font-weight: 600;
                font-size: 14px;

                padding: 8px 6px;
                border-radius: 30px;
                width: 30%;
                
                background-color: transparent;
                color: $text;
                border: 2px solid $gray;

                &:hover{
                    transition: 0.5s;
                    border: 2px solid $secondary;
                    background-color: $secondary;
                    color: white;
                }
            }
            P{  
                padding: 10px 0;
                color: $text;
                width: 150px;
            }
        .redes-sociais{
            padding: 50px 0 0 10px;
            width: auto;
            .redes-sociais-icones{
                border-radius: 25px;
                width: 30px;
                height: 30px;
                text-align: center;
                @include alinhar-ver-hor;
            }
            i{
                color: white;
                width: 18px;
                height: 18px;
            }
            .facebook{
                background-color: $purple;
            }
            .linkedin{
                margin: 0 20px;
                background-color: $blue;
            }
            .instagram{
                background-color: $pink;
            }
        }
        }
        .footer-contato{
            
            a{
                color: $text;
            }
        }
    }
    .solluti{
        color: $text;
        padding: 40px;
    }
}