* {
    font-family: 'Open Sans', sans-serif;
    // border: red 1px solid;
    
    a{
        text-decoration: none !important;
        color: black;
            &:hover{
                color: $primary;
            }
        }
    h2{
        font-weight: bold;
        font-size: 600;
        margin-bottom: 40px;;
    }
}
