// Header
.header-icones{
    @media (max-width: 1225px){
        display: none;
    }
}

// Main
// Mixins
@mixin alinhar-ver-hor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.servico-imagem{
    img{
        
        @media (max-width: 660px){
            width: 100%;
            margin: auto;
        }
    }
}
.sobrepor{
    @media (max-width: 1050px){
        align-items: center;
            justify-content: center;
            
            picture{
                img{
                    margin-left: 0;
                }
            }
        }
}



// Footer
.coluna{
    @media (max-width: 732px){
        width: 100%;
        text-align: center;
        border-radius : 15px;
        p{
            display: inline;
        }
        #footer-botao-login{
            margin:auto;
        }
    }
}
.redes-sociais{
    @media (max-width: 732px){
        width: 100%;
        justify-content: center;
    }
}