@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
* a {
  text-decoration: none !important;
  color: black;
}
* a:hover {
  color: #F37335;
}
* h2 {
  font-weight: bold;
  font-size: 600;
  margin-bottom: 40px;
}

header {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  border: 1px solid #EBEBEB;
}
header nav {
  padding: 0;
}
header nav .header-container-principal {
  padding: 0px;
}
header nav .header-container-principal .navbar-toggler {
  box-shadow: none;
}
header nav .header-container-principal .imagem-logo img {
  padding: 15px 20px;
  border-right: 1px solid #EBEBEB;
}
header nav .header-container-principal .menu {
  display: flex;
  justify-content: space-around;
}
header nav .header-container-principal .menu ul li {
  padding: 0 10px;
}
header nav .header-container-principal .menu ul li ul li .header-menu-drop-title {
  color: #F37335;
}
header nav .header-container-principal .menu ul li:hover {
  color: #F37335;
}
header nav .header-container-principal .menu ul li a:hover {
  color: #F37335 !important;
}
header nav .header-icones {
  padding: 10px 25px;
  width: 150px;
  justify-content: space-between;
  border-left: 1px solid #EBEBEB;
  height: 100%;
}
header nav .header-icones a i {
  width: 18px;
  height: 18px;
}

.contato {
  background-color: #EBEBEB;
}
.contato .contato-linha {
  display: flex;
}
@media (max-width: 1230px) {
  .contato .contato-linha {
    flex-direction: column;
  }
  .contato .contato-linha form {
    width: 100%;
  }
}
.contato .contato-linha picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato .contato-linha picture .contato-imagem {
  width: 630px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
}
.contato .contato-linha picture .contato-imagem:hover {
  transition: 0.5s;
  transform: scale(1.05);
  background-color: white;
}
.contato .contato-linha form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato .contato-linha form p {
  margin-bottom: 0;
}
.contato .contato-linha form input {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #EBEBEB;
  outline: none;
  width: 100%;
}
.contato .contato-linha form .contato-mensagem {
  max-width: 500px;
  margin: 100px 0;
}
.contato .contato-linha form #contato-mensagem {
  height: 100px;
}
.contato .contato-linha form button {
  margin: 20px 0;
  width: auto;
  border-radius: 5px;
  background-color: #FAAA77;
  color: white;
  padding: 5px;
  width: 100%;
  border: none;
}
.contato .contato-linha form button:hover {
  transition: 0.5s;
  background-color: #F37335;
}

main .servico-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 1400px;
  margin: auto;
}
main .servico-container .row .servico-info {
  text-align: center;
  width: 600px;
  padding: 50px 20px;
}
main .servico-container .row .servico-info p {
  color: #8E8FA1;
  margin-bottom: 30px;
}
main .servico-container .row .servico-info .botao1 {
  background-color: #FAAA77;
  border: 2px solid #FAAA77;
  color: white;
  border-radius: 5px;
  box-shadow: none;
}
main .servico-container .row .servico-info .botao2 {
  color: #FAAA77;
  border: 2px solid #FAAA77;
  border-radius: 5px;
  box-shadow: none;
  background: linear-gradient(to right, #FAAA77 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  margin-left: 5px;
  transition: all 2s ease;
}
main .servico-container .row .servico-info .botao2:hover {
  transition: 0.5s;
  background-color: #FAAA77;
  color: white;
  background-position: left bottom;
}
main .servico-container .row .servico-imagem {
  display: flex;
  justify-content: center;
}
main .servico-container .row .servico-imagem img {
  background: cover;
  border-radius: 10px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}
main .servico-container .row .servico-imagem img:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.parallax-imagem-1 {
  width: 100%;
  height: 700px;
  background-image: url("/assets/imagem-principal.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.02);
}
.parallax-imagem-1 .sobrepor {
  background: rgba(206, 107, 26, 0.5);
  height: 700px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.parallax-imagem-1 .sobrepor picture img {
  height: 100px;
  margin-left: 100px;
  width: auto;
}
@media (max-width: 1050px) {
  .parallax-imagem-1 .sobrepor {
    align-items: center;
    justify-content: center;
  }
  .parallax-imagem-1 .sobrepor picture img {
    margin-left: 0;
  }
}

footer {
  color: white;
  font-size: 16px;
}
footer hr {
  color: #8E8FA1;
}
footer .footer-container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-container .coluna {
  margin: 20px;
  min-width: 300px;
}
footer .footer-container .coluna .title {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-top: 30px;
  display: inline-block;
}
footer .footer-container .coluna a {
  display: block;
  margin: 20px 0;
}
footer .footer-container .coluna a:hover {
  transition: 0.5s;
  color: #F37335;
}
footer .footer-container .coluna .btn {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 6px;
  border-radius: 30px;
  width: 30%;
  background-color: transparent;
  color: #8E8FA1;
  border: 2px solid #EBEBEB;
}
footer .footer-container .coluna .btn:hover {
  transition: 0.5s;
  border: 2px solid #FAAA77;
  background-color: #FAAA77;
  color: white;
}
footer .footer-container .coluna P {
  padding: 10px 0;
  color: #8E8FA1;
  width: 150px;
}
footer .footer-container .coluna .redes-sociais {
  padding: 50px 0 0 10px;
  width: auto;
}
footer .footer-container .coluna .redes-sociais .redes-sociais-icones {
  border-radius: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .coluna .redes-sociais i {
  color: white;
  width: 18px;
  height: 18px;
}
footer .footer-container .coluna .redes-sociais .facebook {
  background-color: #4970BF;
}
footer .footer-container .coluna .redes-sociais .linkedin {
  margin: 0 20px;
  background-color: #3078BB;
}
footer .footer-container .coluna .redes-sociais .instagram {
  background-color: #FF6F80;
}
footer .footer-container .footer-contato a {
  color: #8E8FA1;
}
footer .solluti {
  color: #8E8FA1;
  padding: 40px;
}

@media (max-width: 1225px) {
  .header-icones {
    display: none;
  }
}

@media (max-width: 660px) {
  .servico-imagem img {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 1050px) {
  .sobrepor {
    align-items: center;
    justify-content: center;
  }
  .sobrepor picture img {
    margin-left: 0;
  }
}

@media (max-width: 732px) {
  .coluna {
    width: 100%;
    text-align: center;
    border-radius: 15px;
  }
  .coluna p {
    display: inline;
  }
  .coluna #footer-botao-login {
    margin: auto;
  }
}

@media (max-width: 732px) {
  .redes-sociais {
    width: 100%;
    justify-content: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
