main{
    .servico-container{
        .row{
            @include alinhar-ver-hor;
            flex-wrap: wrap;
            min-width: 320px;
            max-width: 1400px;
            margin: auto;
            .servico-info{
                text-align: center;
                width: 600px;
                padding: 50px 20px;
                p{
                    color: $text;
                    margin-bottom: 30px;
                }

                .botao1{
                    background-color: $secondary;
                    border: 2px solid $secondary;
                    color: white;
                    border-radius: 5px;
                    box-shadow: none;
                }
                .botao2{
                    color: $secondary;
                    border: 2px solid $secondary;
                    border-radius: 5px;
                    box-shadow: none;

                    background: linear-gradient(to right, $secondary 50%, white 50%);
                    background-size: 200% 100%;
                    background-position:right bottom;
                    margin-left:5px;
                    transition:all 2s ease;
                    
                    &:hover{
                        transition: 0.5s;
                        background-color: $secondary;
                        color: white;
                        background-position:left bottom;
                    }
                }
            }
            .servico-imagem{
                display: flex;
                justify-content: center;
                
                img{
                    background: cover;
                    border-radius: 10px;
                    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.10);

                    &:hover{
                        transition: 0.5s;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

}